.content {
    display: flex;
    flex-direction: column;
    position: relative;
    background-color: rgba(0,0,0,0);
    z-index: 100;
}

.background {
    position: absolute;
    background-color: var(--main-color);
    width: 100vw;
    height: 70vh;
    bottom: 0;
    left: 0;
    z-index: -100;
}

.App-logo {
    
    height: 15vmin;
    width: auto;
    max-width: 100%;
    pointer-events: none;
    margin: 0 auto;
  }

.login-form {
    display: flex;
    flex-direction: column;
    padding: 1em;
    gap: 12px;
    position: relative; 
}

label {
    font-size: 0.75rem;
    color: rgba(0,0,0,0.6);
    font-weight: 700;
}

input[type=text], input[type=password] {
    border-width: 0 0 1px 0;
    border-radius: 2px 2px 0 0;
    background-color: rgba(0,0,0,0);
    padding: 6px;
}

button[type=submit] {
    background-color: var(--main-color);;
    color: white;
    padding: 6px;
    border: 1px solid var(--main-color);;
    border-radius: 4px;
}

@media screen and (max-width: 568px){
    .App-logo {
        height: 20vmin;
    }
    .background {
        height: 75vh;
    }
}
