.container {
    width: 65vw;
    height: 100vh;    
}

.transactions__content {
    padding: 2em 3em;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 15px;
}

.price > p, .date > p, .info > p {
    margin: 0;
    align-self: flex-start;
}

.charge {
    font-size: 1.5rem;
    color: var(--main-color);
}

.date__row-1 {
    display: flex; 
    justify-content: flex-start; 
    align-items: center;
    align-self: flex-start;
}

.date__row-1 > p {
    margin: 0; 
    font-size: 1.25rem;
}

.date_row-2 {
    margin: 0;
}

.info {
    justify-content: flex-start !important;
}

.info > p {
    margin-top: 0.4em;
    font-weight: 500;
    font-size: 1.15rem;
}

.calendar_icon, .storefront_icon {
    margin-right: 4px;
    color: var(--main-color) !important;
}

.storefront_icon {
    align-self: flex-start;
}

.actions__container {
    padding: 0 1em;
    width: 100%;
}

.dispute {
    color: var(--main-color);
    opacity: 0.8;
}

.dispute > .dispute_button {
    transform: scale(0.75);
}

@media screen and (max-width: 568px){
    .container {
        width: 90vw;
    }

    .transactions__content {
        padding: 0.75em;
        grid-template-columns: 1fr;
    }

    .info > p {
        margin-top: 0.4em;
        font-size: 1rem;
    }

    .actions__container {
        justify-content: flex-start !important;
    }
}